# Godot-specific
.godot/
.import/
*.import
export.cfg
export_credentials.cfg
*.translation
user://

# Mono-specific
.mono/
data_*/
mono_crash.*.json

# Temporary files
*.tmp
*.bak
*.exr
*.lmbake
*.bin
*.ico~
*.kra
*.kra~
*.tga~
*.mmpz
*.png~
*.jpg
*.unwrap_cache

# Asset sources
*.blend
*.psd

# Misc
*.temp