# Godot-specific
.godot/
.import/
*.import
*.translation
user://

# Mono-specific
.mono/
data_*/
mono_crash.*.json

# Temporary files
*.tmp
*.bak
*.ico~
*.kra~
*.tga~
*.png~
*.unwrap_cache
*.temp

# Asset sources
#*.blend
#*.psd
#*.kra
#*.mmpz

# Misc
addons/godotsteam/win64/~libgodotsteam.windows.template_debug.x86_64.dll
config.ini
